html,body{
    width: 100%;
    height:100%;
    font-family: 'Oswald', sans-serif;
}

.call-to-action .row{
    padding: 15px 0;
}

.nav-primary{
    background-color: #86A8E7;

}

.nav-primary .navbar-collapse{
    justify-content: flex-end;
}

.caroulsel-banner{
    margin-top: 56px;

}

.caroulsel-banner img{
    height: 60vh;  
    object-fit: cover; 
}

.caroulsel-banner h5{
    font-size: 3.2rem;
}

.carousel-img{
    margin-top: 8vh;
} 


.section__about {
    min-height: 100vh;
}

.section__initiatives {
    min-height: 100vh;
    background-color: blanchedalmond;
}

.initiatives-image{
    max-height: 20vh;
}

.section__depositions{
    min-height: 100vh;
    background-color: #404756;
}



.background-form{
    background-image: url(../img/genoma.jpg);
    background-size: cover;
    height: 100vh;
    padding-top: 80px;
}
@media (max-width: 420px) {
    .background-form {
        padding-top: 58px;
    }
}

hr{
    background: white;
}

.contact-form{
    background: rgba(0, 0, 0, .6);
    color: white;  
    box-shadow: 0px 0px 10px 1px rgb(175, 174, 174);
    border-radius: 10px;
    width: 60%; 
    padding-top: 10px;
}
@media (max-width: 420px) {
    .contact-form{
        width: 100%;
    }
    .contact-form__none-mobile {
        display: none;
    }  
}

.section__register{
    height: 100vh;
    padding-top: 10vh;
}

/* .register-img{
    
} */
.result-deposition{
    max-width: 43vh;
}













/* .row-margin>div{
    margin-bottom: 25px;
}

.main-grid{
    margin-bottom: 25px;
}

.call-to-action .row{
    padding: 15px 0;
}

.box-footer >.container{
    padding: 25px;
} */


